
<div class="navbarc">
  <div class="item1">
<div class="dashContainer">
  <div class="buttonContainer">
    <div class="redbutton" (click)="go_to('')">
    <figure>
      <img src="/assets/images/DashBoard/dash.png"
       alt="" height="auto"  class="dashboard dashh">
      <figcaption >DashBoard</figcaption>
    </figure>
  </div>
  <div class="redbutton" (click)="go_to('parents')">
    <figure>

      <img src="/assets/images/DashBoard/parents.png"
       alt="" height="auto"  class="dashboard parentsh" >
      <figcaption class="centerf">

      Parents
     </figcaption>
    </figure>
</div>
<div class="redbutton" (click)="go_to('teacher')">
    <figure>
      <img src="/assets/images/DashBoard/teacher.png"
       alt="" height="auto" class="dashboard teacherh">
      <figcaption>Teacher</figcaption>
    </figure>
  </div>
  <div class="redbutton" (click)="go_to('student')">
    <figure>
      <img src="/assets/images/DashBoard/student.png"
       alt="" height="auto"  class="student studenth">
      <figcaption >Student</figcaption>
    </figure>
    </div>
    <div class="redbutton" (click)="go_to('admin')">
    <figure>
      <img src="/assets/images/DashBoard/admin.png" height="auto"
       alt="" height="auto" class="dashboard adminh">

      <figcaption class="centerf" >Amdin</figcaption>
    </figure>
    </div>
</div>

</div>

</div>






<div class="navbars">
  <figure>
    <img src="/assets/images/DashBoard/logout.png" (click)="logout()"
     alt="" height="auto" class="dashboard logouth" >
    <figcaption >LogOut</figcaption>
  </figure>
</div>
</div>

<router-outlet></router-outlet>

<div class="grid-item">
<div class="footerbar">
  <div class="break"></div>
<div class="downnavbar">
<div>AboutUs | Contact Us</div>
<div class="break"></div>
<div>CopyRight <span>&copy;</span>2016 BluLogix , LLC . All Rights Reserved.</div>
</div>

