.bar {
    transition: all 2s ease-in-out;
    width: 0;

    &:hover {
        width: 100px;
        background-color: #098cdf;
    }
}


h1 {
    color: $primary;
}

#nav-btn {
    transition: all 1s ease-in-out;
    position: fixed;
    left: 100%;
    top: 0;
}

header {
    color: #758ca3;
    background-color: #011326;

    .header-part {
        display: block;
        font-size: 13px;
        padding: 0 10px;

        li {
            a {
                position: relative;
                text-decoration: none;
                color: #758ca3;


                &::after {
                    transition: all 0.4s ease-in-out;
                    transform-origin: center center;
                    width: 100%;
                    transform: scaleX(0);
                    content: "";
                    height: 5px;
                    display: inline-block;
                    background-color: #098cdf;
                    color: $primary;
                    position: absolute;
                    left: 0;
                    top: 20px;
                }

                &:active,
                &:hover {
                    color: #fff;

                    &::after {
                        margin: 0;
                        transform: scaleX(1);

                    }
                }

            }
        }

        ul.side-list {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: inline;
                margin-left: 0;

                sup {
                    padding: 2px 4px 3px 3px;
                    text-align: center;
                    border-radius: 2px;
                    font-size: 10px;
                }

                sup.yeni {
                    background-color: #7ca631;
                }

                sup.duyurular {
                    background-color: #a9391f;
                }


                &:not(:last-child):after {
                    content: "|";
                    padding: 0 5px;
                }


            }
        }

        ul.services {
            li {
                a {
                    color: #fff;
                }
            }
        }

        ul.city-time {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {

                display: inline;

                &:not(:last-child):after {
                    content: "\2022";
                    padding-right: 6px;
                }
            }
        }
    }
}

.first-section {

    ul.main-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;

            a {
                font-family: $font-barlow-condense;
                font-weight: 400;
                text-decoration: none;
                color: #004378;
                font-size: 17px;
                line-height: 19px;

                &:active,
                &:hover {
                    color: #098cdf;
                }
            }
        }
    }
}

.third-section {
    min-height: 284px;
    background: #f8faff;
}

.btn-primary {
    color: #fff;
    border-color: #1d66c6;
}

.btn-secondary {
    color: #6677a0;
}

.btn-light {
    height: 40px;
    background: transparent;
    border: 1px solid #e4e8f2;
    color: #6677a0;

    &:focus,
    &:hover {
        border: 1px solid #e4e8f2;
        background-color: #e4e8f2;
    }
}

.fourth-section {
    table {
        thead {
            height: 40px;
            background: #f8faff;
            border-bottom: 0 !important;
        }
    }
}

ul {
    .dropdown-menu {
        background-color: #011326;
        border-bottom: 5px solid $primary;
        border-top: 5px solid $primary;
        padding: 5px 17px 10px 17px !important;

        .dropdown-item {
            position: relative;
            color: #758ca3 !important;
            padding: 5px 10px;

            &:hover {
                color: #fff !important;

            }

            &:after {
                position: absolute;
                transform: scaleX(1) !important;
                top: calc(100% - 2px) !important;
                bottom: 0 !important;
                min-width: 40px;
                width: 30%;
                height: 2px !important;
            }

            &:before {
                left: 0 !important;
                content: "";
                background-color: #758ca3;
                position: absolute;
                width: 100%;
                height: 1px;
                top: 100% !important;
                bottom: 0 !important;
            }

            &:hover {
                color: #fff;

                &:after {
                    width: 100%;
                }
            }
        }

        li {

            &::after {
                content: "" !important;
                padding: 0 !important;
            }
        }
    }

}

.dropdown-toggle::after {
    content: url("../assets/images/arrow.svg");
    border: none;
    width: 10px;
    height: auto;
    right: 10px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@include media-breakpoint-down(lg) {
    #nav-btn {
        left: 0 !important;
    }

    #content {
        transition: all 0.5s ease-in-out;
    }

    //    ul li:after {
    //         content: "" !important;
    //         padding: 0 5px;
    //     }

    header {
        position: fixed;
        height: 100%;
        width: 0;
        transition: all 0.5s ease-in-out;

        .header-part {
            display: none;

            ul.side-list {


                li {
                    sup {}

                    sup.yeni {}

                    sup.duyurular {}

                    &:not(:last-child):after {
                        content: "";
                        padding: 0 0px;
                    }

                }
            }

            ul {
                li {
                    border-bottom: 1px solid #758ca3;
                    padding-top: 12px;
                    padding-bottom: 12px;

                    .show {
                        &::after {
                            transform: scaleX(0);
                            background: #098cdf;
                            height: 2px;
                            width: 100%;
                            transition: all 0.4s ease-in-out;
                            transform-origin: center center;
                            margin: 0 !important;
                        }
                    }

                    &:hover {

                        .show {
                            &::after {
                                transform: scaleX(1);
                                padding: 0 !important;
                            }
                        }
                    }

                    a {
                        position: relative;
                        text-decoration: none;
                        color: white !important;
                        display: block;

                        &::after {
                            top: 30px;
                            height: 2px;
                        }

                        &:active,
                        &:hover {
                            color: #fff !important;

                            &::after {
                                margin: 0;
                                transform: scaleX(1);

                            }
                        }

                    }
                }
            }
        }

        ul {
            li {
                display: block !important;
            }
        }



        ul.dropdown-menu {
            position: relative !important;
            top: 1px !important;
            transform: translate3d(0px, 16px, 0px) !important;
            border-top-width: 0px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            border-bottom-width: 2px !important;
            padding-bottom: 10px !important;

            li {
                border-width: 0 !important;
                padding: 0 !important;

                &:hover {
                    border-top-width: 2px !important;
                }
            }
        }

        ul {
            .dropdown-menu {


                .dropdown-item {
                    padding-left: 0 !important;
                    padding-right: 0 !important;

                }
            }

        }

        .dropdown {

            position: relative;

            &::before {
                transition: all 0.5s ease-in-out;
                content: url("../assets/images/arrow.svg");
                position: absolute;
                right: 0;
            }

        }

        .dropdown.show {

            &::before {
                transform: rotate(180deg);

            }
        }
    }


    .credential {
        position: relative;
        padding: 10px !important;
        background-color: rgba(9, 140, 223, .15);
        margin-left: -10px !important;
        width: calc(100% + 20px) !important;

        li {
            width: 115px !important;
            height: 35px !important;
            text-align: center;


            a {
                display: block;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            &.register {
                background-color: $primary;
                margin-right: 5px !important;
            }

            &.login {
                background-color: $green;
                margin-left: 5px !important;
            }
        }

        li a::after {
            transform: scale(0) !important;
        }
    }


    .border-top {
        border: 0 !important;
    }

    #langs {
        min-height: 45px !important;

        * {
            display: none !important;

            &::after {
                transform: scale(0) !important;

            }
        }

        &.make-text-white {
            * {
                display: inline-block !important;

                &::after {
                    transform: scale(0) !important;

                }
            }
        }
    }

    #lang {
        a {
            &::after {
                transform: scale(0) !important;
            }
        }

        .dropdown {
            &::before {
                transform: rotate(180deg) !important;
            }
        }

    }
}

@include media-breakpoint-up(lg) {
    #content {
        margin: 0 !important;
    }

    header {
        position: relative;
        width: 100% !important;

        .header-part {
            display: block !important;
        }

        ul {
            li {
                display: inline !important;
            }
        }
    }

}