$base-url: "../assets/fonts/iconmoon/";
@font-face {
    font-family: 'icomoon';
    src:  url($base-url+'icomoon.eot');
    src:  url($base-url+'icomoon.eot') format('embedded-opentype'),
      url($base-url+'icomoon.ttf?dhoi92') format('truetype'),
      url($base-url+'icomoon.woff?dhoi92') format('woff'),
      url($base-url+'icomoon.svg?dhoi92#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    &:hover{
        color: #ced4da;
    }
  }
  
  .icon-arrow-down:before {
    content: "\e900";
  }
  .icon-world:before {
    content: "\e901";
  }