
  <span >

  <h2 style="color: green;"> <span style="color: red;width: 5px;font-weight: bolder;">|
  </span> DashBoard</h2>

<span class="grid-card-body" >

<div
class="card A">
<div class="grid-item barred"></div>
<div class="grid-itemicon">
  <img src="/assets/images/cardSymobles/1.png" alt="">
</div>
<div class="grid-item"><hr></div>
<div class="grid-item item-grid">
  <div><span style="color:green;font-weight: bold;">Full Name : </span>  {{this.sv.get_full_Name()}}</div>

</div>
</div>




<div (click)="contactPage()" 
class="card A">
<div class="grid-item barred"></div>
<div class="grid-itemicon">
  <img src="/assets/images/cardSymobles/2.png" alt="">
</div>
<div class="grid-item"><hr></div>
<div class="grid-item item-grid" >
  <div><span style="color:green;font-weight: bold">Email : </span>  {{this.sv.get_email()}}</div>

</div>
</div>




<div
class="card A">
<div class="grid-item barred"></div>
<div class="grid-itemicon">
  <img src="/assets/images/cardSymobles/3.png" alt="">
</div>
<div class="grid-item"><hr></div>
<div class="grid-item item-grid">
  <div><span style="color:green;font-weight: bold">Phone Number : </span>  {{this.sv.get_phone()}}</div>

</div>
</div>





<div
class="card A">
<div class="grid-item barred"></div>
<div class="grid-itemicon">
  <img src="/assets/images/cardSymobles/4.png" alt="">
</div>
<div class="grid-item"><hr></div>
<div class="grid-item item-grid">
<div><span style="color:green;font-weight: bold">Adress : </span>  {{this.sv.get_address()}}</div>

</div>
</div>





</span>


  </span>

